<div class="container">
    <div class="row">
        <h1 class="col-12 text-center">
            Arbres
        </h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <ngx-bootstrap-treeview [isOpened]="true" [selectedLeafIcon]="faCheckSquare" [unselectedLeafIcon]="faSquare"
                [openedFolderIcon]="faFolderOpen" [closedFolderIcon]="faFolder" (leafClicked)="leafClickedEventHandler($event)"
                [tree]="tree">
            </ngx-bootstrap-treeview>
        </div>
        <div class="col-12 col-sm-6">
            <h4>Éléments sélectionnés</h4>
            <ul *ngIf="selectedLeaves">
                <li *ngFor="let selectedLeaf of selectedLeaves">{{ selectedLeaf.value }} - {{ selectedLeaf.label }}</li>
            </ul>
        </div>
    </div>
</div>
