<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">NgxBootstrapTreeview</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: boolean }">
                <a class="nav-link" [routerLink]="['/', 'simple-data']">Simple Data</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: boolean }">
                <a class="nav-link" [routerLink]="['/', 'custom-styling']">Custom Styling</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: boolean }">
                <a class="nav-link" [routerLink]="['/', 'multiroot-tree']">Multiroot Tree</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: boolean }">
                <a class="nav-link" [routerLink]="['/', 'using-mapper']">Using Mapper</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: boolean }">
                <a class="nav-link" [routerLink]="['/', 'context-menu']">Custom context menu</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: boolean }">
                <a class="nav-link" [routerLink]="['/', 'programmatic-folding']">Programmatic folding</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid pb-5">
    <router-outlet></router-outlet>
    <div class="row mt-4">
        <div class="col-12 col-sm-6">
            <h5>Singleroot tree built using mapper</h5>
            <ngx-bootstrap-treeview
                [isOpened]="true"
                (leafClicked)="singlerootFromMapperLeafClickedEventHandler($event)"
                [item]="item"
                [mapper]="mapper"
                [canSelectBranch]="false"
                [loggingService]="loggingService"
            >
            </ngx-bootstrap-treeview>
        </div>
        <div class="col-12 col-sm-6">
            <h5>Selected Leaves</h5>
            <ul *ngIf="selectedLeaves.singleRootFromMapper">
                <li *ngFor="let selectedLeaf of selectedLeaves.singleRootFromMapper">
                    {{ selectedLeaf.value }} - {{ selectedLeaf.label }}
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row mt-4">
        <div class="col-12 col-sm-6">
            <h5>Multiroot tree built using mapper</h5>
            <ngx-bootstrap-treeview
                [isOpened]="true"
                (leafClicked)="multirootFromMapperLeafClickedEventHandler($event)"
                [items]="items"
                [mapper]="mapper"
                [canSelectBranch]="false"
                [loggingService]="loggingService"
            >
            </ngx-bootstrap-treeview>
        </div>
        <div class="col-12 col-sm-6">
            <h5>Selected Leaves</h5>
            <ul *ngIf="selectedLeaves.multirootFromMapper">
                <li *ngFor="let selectedLeaf of selectedLeaves.multirootFromMapper">
                    {{ selectedLeaf.value }} - {{ selectedLeaf.label }}
                </li>
            </ul>
        </div>
    </div>
</div>
