<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h5 class="d-flex justify-content-between">
                <span>
                    Default usage
                </span>
                <span *ngIf="clickedItem">Selected: {{ clickedItem.label }} </span>
            </h5>
            <div class="tree-container">
                <ngx-bootstrap-treeview
                    [isOpened]="true"
                    (branchClicked)="onBranchClicked($event)"
                    (leafClicked)="onLeafClicked($event)"
                    [tree]="tree"
                    [loggingService]="logger"
                >
                </ngx-bootstrap-treeview>
            </div>
        </div>
        <div class="col-12 col-xl-4 col-md-3">
            <h5>Selected Leaves</h5>
            <div class="selected-leaves-container">
                <ul *ngIf="selectedLeaves.length">
                    <li *ngFor="let selectedLeaf of selectedLeaves">
                        {{ selectedLeaf.value }} - {{ selectedLeaf.label }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-5 col-xl-4">
            <h5>
                Data sample (one Tree object)
            </h5>
            <pre class="data-container">{{ tree | json }}</pre>
        </div>
    </div>
</div>
